/* reset styles */
* {
  box-sizing: border-box;
}
:root {
  --Navigation-height: 3em;
}
html,
body {
  font-size: calc(98.5% + 0.2vmin);
}
#App {
  width: 100vw;
  height: 100vh;
}
nav#Navigation {
  height: var(--Navigation-height);
  background-color: #11a7d7;
}
