/* reset styles */
* {
  box-sizing: border-box;
}
:root {
  --Navigation-height: 3rem;
}
html,
body {
  font-size: calc(98.5% + 0.2vmin);
  background-color: #1a1a1a;
}

#App {
  width: 100vw;
  height: 100vh;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #222222;
}
nav#Navigation {
  height: var(--Navigation-height);
  background-color: #11a7d7;
  display: flex;
  align-items: center;
  padding: 0.25em;
}
nav#Navigation a {
  margin-left: 2rem;
  text-decoration: none;
}
nav#Navigation a:visited {
  color: #252525;
}
nav#Navigation a:hover {
  text-decoration: underline;
}
