.StudentInfo.card .studentHeading {
  margin-top: 0;
  text-decoration: underline;
  text-decoration-color: #11a7d7;
}

@media screen and (min-width: 500px) {
  .StudentInfo.card > * {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 720px) {
  .StudentInfo.card > * {
    margin-left: 3rem;
  }
}
